[Unit]
Description=Update bittrexRates
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=15
User=root
#dev
ExecStart=/bin/bash -c "REQUEST_URI=/api/update_bittrex /usr/bin/php /var/www/html/newmonitor/public/index.php"
#prod
#ExecStart=/bin/bash -c "REQUEST_URI=/api/update_bittrex /usr/bin/php /var/www/c1kworld/public/index.php"

[Install]
WantedBy=multi-user.target
