/* Font Uni */
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../css/fonts/ProximaNova-Regular.eot');
    src: url('../css/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/ProximaNova-Regular.woff') format('woff'),
    url('../css/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Semibold';
    src: url('../css/fonts/UniSansSemiBold.eot');
    src: url('../css/fonts/UniSansSemiBold.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/UniSansSemiBold.woff') format('woff'),
    url('../css/fonts/UniSansSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro Semibold Italic';
    src: url('../css/fonts/SourceSansPro-SemiBoldItalic.eot');
    src: url('../css/fonts/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/SourceSansPro-SemiBoldItalic.woff') format('woff'),
    url('../css/fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('../css/fonts/SourceSansPro-Regular.eot');
    src: url('../css/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/SourceSansPro-Regular.woff') format('woff'),
    url('../css/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro Semibold';
    src: url('../css/fonts/SourceSansPro-SemiBold.eot');
    src: url('../css/fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/SourceSansPro-SemiBold.woff') format('woff'),
    url('../css/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans Semibold';
    src: url('../css/fonts/NunitoSans-SemiBold.eot');
    src: url('../css/fonts/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/NunitoSans-SemiBold.woff') format('woff'),
    url('../css/fonts/NunitoSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}