.calc-block-title{
  font-size: 36px;
  font-weight: 300;
}

.calc-block-text{
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
}
.calc-block-filter{
  font-size: 15px;
  min-width: 41px;
  height: 41px;
  margin: 8px;
  opacity: 0.5;
  padding: 12px;
  background-color: #141e46;
}
.calc-block-filter.active{
  opacity: 1;
  background-color: #254c8c;
}

.currency{
  display: flex;
  height: 40px;
  width: 100%;
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  padding: 12px;
}
.currency.active{
  display: flex;
  height: 40px;
  width: 100%;
  border: solid 1px #374063;
  background-color: #141e46;
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  padding: 12px;
  border-radius: 7px;
}

.currency-logo{
  margin-right: 14px;
}
.currency-name{
  font-family: MuseoSansCyrl;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  width: 100%;
}
.currency-reserv{
  opacity: 0.5;
  font-family: MuseoSansCyrl;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-right: 4px;
    margin-left: 4px;
}

.currency-code{
  font-family: MuseoSansCyrl;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d8dbe0;
  margin-right: 4px;
    margin-left: 4px;
}


.currency .currency-selected{
  display: none;
  width: 16px;
  height: 16px;
  background-color: #254c8c;
  vertical-align: middle;
  text-align: center;
  width: 16px;
  min-width: 16px;
  margin-right: 4px;
  margin-left: 4px;
}

.currency.active .currency-selected{
  display: table-cell;
}
